# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# Build diretctory
build

# Gradle files
.gradle
gradle
gradlew*

# Intellij files
*.iml
.idea
